* {
  --color__black: #110f0e;
  --color__white: #e5efee;
  --color__green300: #2f9f6c;
  --color__green200: #91e87a;
  --color__green100: #a1e8d5;
  --color__red: #c1304e;
  --color__ornange: #fe6854;
  --color__yellow200: #f2a853;
  --color__yellow100: #f2e57c;
  --color__blue300: #2f38a8;
  --color__blue200: #5273dd;
  --color__blue100: #77c3f6;

  --footer-height: 80px;
  --button-height: 60px;

  @media screen and (max-width: 768px) {
    --footer-height: 60px;
    --button-height: 40px;
  }
}
