* {
  --color__green: #2f9f6c;
  --color__red: #c1304e;
}

.hidden {
  display: none;
}

body {
  min-height: 100vh;
  background-color: var(--color__green);
  padding: 20px;
}

.loader {
  --size: 120px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  animation: spin 2s linear infinite;
  position: absolute;
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.game-board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  width: min(100%, 900px);
  perspective: 1000px;
}
.game-board__card-field {
  width: 100%;
  height: fit-content;
  border: 2px solid black;
  border-radius: 8px;
  position: relative;
}
.game-board__overlap {
  border-color: grey;
}
.game-board__overlap .card:last-child {
  filter: brightness(0.7);
}
.game-board__waste .card:not(.card__placeholder), .game-board__stock .card:not(.card__placeholder), .game-board__foundation .card:not(.card__placeholder), .game-board__tableau .card:not(.card__placeholder) {
  position: absolute;
  top: 0;
  left: 0;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(1) {
  top: -20px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(2) {
  top: 0px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(3) {
  top: 20px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(4) {
  top: 40px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(5) {
  top: 60px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(6) {
  top: 80px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(7) {
  top: 100px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(8) {
  top: 120px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(9) {
  top: 140px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(10) {
  top: 160px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(11) {
  top: 180px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(12) {
  top: 200px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(13) {
  top: 220px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(14) {
  top: 240px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(15) {
  top: 260px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(16) {
  top: 280px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(17) {
  top: 300px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(18) {
  top: 320px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(19) {
  top: 340px;
}
.game-board__tableau .card:not(.card__placeholder):nth-child(20) {
  top: 360px;
}

.card {
  --scale: 0.95;
  --transformX: 0;
  --transformY: 0;
  position: relative;
  width: 100%;
  aspect-ratio: 2.5/3.5;
  transition: transform 0.05s ease;
  transform: translate(var(--transformX), var(--transformY));
}
.card__inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  transform: scale(var(--scale));
}
.card__flipped .card__inner {
  transform: rotateY(180deg) scale(var(--scale));
}
.card svg {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card svg:last-child {
  transform: rotateY(180deg);
}
.card__placeholder svg {
  opacity: 0.2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
