@import "./meta/_include.scss";
@import "./body.scss";
@import "./loader.scss";
@import "./gameBoard.scss";
@import "./card.scss";
@import "./footer.scss";
@import "./button.scss";
@import "./menu.scss";
@import "./modalBackground.scss";

@font-face {
  font-family: roboto;
  src: url(../assets/fonts/Roboto-Medium.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
}
