.footer {
  width: 100%;
  height: var(--footer-height);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  padding: 0 2%;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  &__vertical-ruler {
    width: 4px;
    height: var(--button-height);
    background-color: var(--color__black);
  }
}
