.game-board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  width: min(100%, 900px);
  perspective: 1000px;

  &__card-field {
    width: 100%;
    height: fit-content;
    padding: 3px;
    border: 1px solid yellow;
    border-radius: 7px;
    position: relative;
  }

  &__stock {
  }

  &__waste {
  }

  &__foundation {
  }

  &__tableau {
  }
}
