.game-board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  width: min(100%, 900px);
  perspective: 1000px;

  &__card-field {
    width: 100%;
    height: fit-content;
    border: 2px solid yellow;
    border-radius: 7px;
    position: relative;
  }

  &__stock {
    .card:not(.card__placeholder) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__tableau {
    .card:not(.card__placeholder) {
      position: absolute;
      top: 0;
      left: 0;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          top: #{($i - 2) * 20}px;
        }
      }
    }
  }
}
