.game-board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  width: 800px;

  &__stock {
    background-color: red;
    width: 100px;
    height: 100px;
  }

  &__waste {
    background-color: blue;
    width: 100px;
    height: 100px;
  }

  &__foundation {
    background-color: green;
    width: 100px;
    height: 100px;
  }

  &__tableau {
    background-color: yellow;
    width: 100px;
    height: 100px;
  }
}
